.MH3_Page3 {
    position: absolute;
    top: calc(200vh - 450px);
    width: 100vw;
    height: 100vh;
}
.MH3_BackText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Inter';
    font-weight: 800;
    font-size: 300px;

    color: #0f0f0f60;
}
.MH3_Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
}
.MH3_Title > p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 70px;

    white-space: nowrap;

    color: #D9D9D9;
}
.MH3_Title > p:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    width: 650px;
}
.MH3_SubTitle {
    position: absolute;
    top: calc(50% - 150px);
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.2em;

    color: #6D6D6D;
}
.MH3_Donate {
    position: absolute;
    top: calc(50% + 200px);
    left: 50%;
    transform: translate(-50%, -50%);

    height: 45px;
    width: 200px;

    background-color: #D9D9D9;
    text-align: center;
}

.MH3_Donate > p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;

    letter-spacing: 0.1em;

    color: #0A0A0A;
}
