.BG_Header {
    position: relative;
    width: 100vw;
    height: 60px;

}

.BG_Header > div {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
}
.BG_LOGO {
    position: absolute;
    top: 20px;
    left: 10vw;
    display: flex;

}
.BG_LOGO > p:nth-of-type(1) {
    position: relative;

    font-size: 20px;
    font-weight: bold;

    color : #FFFFFF;
}
.BG_LOGO > p:nth-of-type(2) {
    position: relative;
    top: 3px;
    left: 2px;

    font-size: 16px;
    font-weight: bold;
    color: #535353;
}
.BG_menu {
    position: absolute;
    height: 20px;
    right: 10vw;

    display: flex;
}
.BG_menu > a {
    position: relative;
    top: 10px;
    height: 28px;

    margin-left: 10px;

    border-radius: 5px;

    transition: background-color 0.3s ease;
}
.BG_menu > a > div {
    display: flex;

    position: relative;
    height: 100%;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    padding-left: 8px;
    padding-right: 10px;

    border-radius: 5px;

}
.BG_menu > a > div > div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 16px;
    width: 16px;
}
.BG_menu > a > div > p {
    position: relative;
    top: 50%;
    left: 2px;

    transform: translate(0%, -50%);
    height: 16px;

    font-size: 12px;
    color: 535353
}
.BG_on {
    background-color: #1D1D1D;
}
.BG_on > div > p {
    color: #D9D9D9;
}
.BG_on > div > div > svg {
    stroke: #D9D9D9;
}
.BG_off {
    background-color: #00000000;
    color: #535353;
}
.BG_off > div > div > svg {
    stroke: #535353;
}
.BG_off:hover {
    background-color: #1b1b1b;
}
.BG_off:hover > div > p {
    color: #a3a3a3;
}
.BG_off:hover > div > div > svg {
    stroke: #a3a3a3;
}


