.MH2_Title {
    position: absolute;
    top: 10px;
    left: 10vw;

    font-family: 'Inter';
    font-size: 70px;
    font-weight: 700;

    color: #D9D9D9;
}
.MH2_SubTitle{
    position: absolute;
    left: calc(10vw + 6px);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;

    color: #6D6D6D;
}
.MH2_GuideLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    margin-top: 30px;
    margin-bottom: 30px;

    width: calc(80vw);
    height: 1px;

    background-color: #6D6D6D50;
}
.PS_Main {
    position: relative;
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;;

    transition: height 0.5s ease;
}

.PS_Main:hover {
    height: 100px;
}
.PS_Main:hover > div > p {
    opacity: 1;
    height: 17px;
}
.PS_Main > div > div {
    height: 48px;
    display: flex;
}
.PS_Num {
    font-size: 14px;
    font-weight: 300;
    color: #6D6D6D;
}

.PS_Title {
    font-size: 40px;
    font-weight: 600;

    margin-left: 40px;
    margin-right: 40px;

    color: #D9D9D9;
}
.PS_SubTitle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 17px;
    font-size: 14px;
    font-weight: 300;
    color: #6D6D6D;
}
.PS_Text {
    position: relative;
    top: 10px;
    height: 0px;
    left: 40px;

    font-size: 14px;
    font-weight: 200;

    color: #6D6D6D;

    opacity: 0;
    transition: opacity 0.5s ease, height 0.5s ease;
}
.MH_Services {
    position: absolute;
    top: 110px;
    left: 10vw;
}